In [5]:
import pandas as pd

In [ ]:
# Load datasets into pandas DataFrames

patients_df = pd.read_csv('data/patients.csv')
visits_encounters_df = pd.read_csv('data/visits_encounters.csv')
labs_orders_df = pd.read_csv('data/labs_orders.csv')
labs_results_df = pd.read_csv('data/labs_results.csv')
diagnoses_df = pd.read_csv('data/diagnoses.csv')
clinical_outcomes_df = pd.read_csv('data/clinical_outcomes.csv')
adt_events_df = pd.read_csv('data/adt_events.csv')
billing_lines_df = pd.read_csv('data/billing_lines.csv')
tarrifs_services_df = pd.read_csv('data/tariffs_services.csv')

##### Data Cleaning

In [7]:
patients_df.head()

,patient_id,national_id,name,sex,date_of_birth,county,sub_county,insurance_type,contact
0,P10000,18456906,Elizabeth Kipchoge,M,1970-01-10,Kericho,Soin Sigowet,NHIF,0796-858658
1,P10001,28314695,James Atieno,M,1952-09-03,Kericho,Kericho West,Private,0774-716127
2,P10002,36570404,Esther Jepkosgei,F,1969-10-11,Kericho,Kipkelion,Cash,0710-877925
3,P10003,22833826,Sarah Mwangi,F,1963-12-13,Kericho,Bureti,NHIF,0721-489199
4,P10004,17751695,Ann Njoroge,M,2015-06-20,Kericho,Kipkelion,NHIF,0758-180665

###### In our analyses, we won't need patient names and their contact information. It is also advisable to delete them to ensure privacy and prevent any possibility of identifying an individual, in line with ethical standards and data protection regulations.

In [8]:
patients_df = patients_df.drop(columns=['name','contact'])

In [10]:
visits_encounters_df.head()

,visit_id,patient_id,visit_type,visit_date,department,referral_source,disposition
0,V20000,P10456,Inpatient,2023-03-17,General OPD,Health Center,Admitted
1,V20001,P10472,OPD,2023-09-22,Pediatrics,Other Hospital,Referred
2,V20002,P10326,OPD,2023-12-05,Medical OPD,Self,Discharged
3,V20003,P10229,Inpatient,2023-08-30,Pediatrics,Health Center,Discharged
4,V20004,P10425,ED,2023-11-04,Surgical OPD,Other Hospital,Discharged

In [13]:
labs_orders_df.head()

,order_id,visit_id,test_type,ordered_date,requesting_unit,priority,status
0,LO40000,V20000,HGB,2023-03-18 03:00:00,Medical OPD,Routine,Completed
1,LO40001,V20000,CRE,2023-03-18 06:00:00,Medical OPD,Urgent,Completed
2,LO40002,V20001,CBC,2023-05-02 03:00:00,MCH,Routine,Completed
3,LO40003,V20001,HGB,2023-05-02 05:00:00,MCH,Routine,Completed
4,LO40004,V20001,WBC,2023-05-02 03:00:00,MCH,Urgent,Completed

In [14]:
labs_results_df.head()

,order_id,test_name,result_value,units,reference_range,result_date,abnormal_flag
0,LO40000,Hemoglobin,14.50,g/dL,12.0-16.0,2023-03-18 04:44:00,No
1,LO40001,Creatinine,1.46,mg/dL,0.7-1.3,2023-03-18 09:43:00,Yes
2,LO40002,Complete Blood Count,1.16,mg/dL,0.7-1.3,2023-05-02 03:40:00,No
3,LO40003,Hemoglobin,8.20,g/dL,12.0-16.0,2023-05-02 08:16:00,No
4,LO40004,White Blood Cell Count,9.30,10^9/L,4.0-11.0,2023-05-02 06:56:00,No

In [11]:
diagnoses_df.head()

,visit_id,patient_id,diagnosis_code,diagnosis_description,primary_secondary,date_recorded,clinician_id
0,V20000,P10082,J18,Pneumonia,Primary,2023-02-25 00:00:00,S30071
1,V20000,P10082,E11,Type 2 diabetes,Secondary,2023-02-25 01:00:00,S30091
2,V20000,P10082,K35,Acute appendicitis,Secondary,2023-02-25 02:00:00,S30037
3,V20001,P10289,I10,Essential hypertension,Primary,2023-09-18 00:00:00,S30075
4,V20001,P10289,I10,Essential hypertension,Secondary,2023-09-18 01:00:00,S30033

In [12]:
clinical_outcomes_df.head()

,admission_id,discharge_date,discharge_status,ICU_stay_flag,complications
0,V20000,2023-05-28 02:00:00,Death,No,Surgical Site Infection
1,V20003,2023-04-13 04:00:00,Transfer,No,Pneumonia
2,V20004,2023-02-23 01:00:00,Death,No,Surgical Site Infection
3,V20005,2023-12-16 01:00:00,Transfer,No,NaN
4,V20009,2024-01-03 03:00:00,Transfer,No,NaN

In [16]:
clinical_outcomes_df.head()

,admission_id,discharge_date,discharge_status,ICU_stay_flag,complications
0,V20000,2023-05-28 02:00:00,Death,No,Surgical Site Infection
1,V20003,2023-04-13 04:00:00,Transfer,No,Pneumonia
2,V20004,2023-02-23 01:00:00,Death,No,Surgical Site Infection
3,V20005,2023-12-16 01:00:00,Transfer,No,NaN
4,V20009,2024-01-03 03:00:00,Transfer,No,NaN

In [25]:
adt_events_df.head()

,visit_id,patient_id,event_type,timestamp,ward_bed,admission_type,discharge_status
0,V20004,P10227,Admission,2023-01-09 04:00:00,Surgical Ward-Bed41,Emergency,NaN
1,V20004,P10227,Discharge,2023-01-22 04:00:00,Private Wing-Bed27,NaN,Transfer
2,V20005,P10018,Admission,2023-09-03 03:00:00,Medical Ward-Bed26,Elective,NaN
3,V20005,P10018,Discharge,2023-09-04 03:00:00,ICU-Bed39,NaN,Transfer
4,V20007,P10160,Admission,2023-08-14 02:00:00,Medical Ward-Bed45,Elective,NaN

In [26]:
adt_events_df['ward_bed'].nunique

<bound method IndexOpsMixin.nunique of 0       Surgical Ward-Bed41
1        Private Wing-Bed27
2        Medical Ward-Bed26
3                 ICU-Bed39
4        Medical Ward-Bed45
               ...
999      Medical Ward-Bed32
1000     Private Wing-Bed37
1001     Medical Ward-Bed30
1002    Surgical Ward-Bed49
1003              CCU-Bed29
Name: ward_bed, Length: 1004, dtype: object>

###### We need to change CCU- bed to HDU- beds

In [27]:
adt_events_df = adt_events_df['ward_bed'].str.replace('CCU-', 'HDU-')

In [29]:
# Save cleaned patients data

patients_df.to_csv('data/patients_clean.csv', index=False)

# Save cleaned adt_events data
adt_events_df.to_csv('data/adt_events_clean.csv', index=False)